@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&family=Work+Sans:wght@500&display=swap");

* {
  font-family: "Mulish";
}

body {
  margin: auto;
  width: 80%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 52px;
  padding-bottom: 49px;
}

nav .section-title {
  display: flex;
  flex-wrap: nowrap;
}

.nav-left-part {
  display: flex;
  height: 45px;
  gap: 15px;
  font-weight: 800;
  font-size: 22px;
  align-items: center;
}

.Orange {
  color: rgb(255, 84, 0);
}

.nav-right-part > ul {
  display: flex;
  gap: 20px;
}

.nav-right-part li {
  list-style: none;
  font-weight: 400;
}

.nav-right-part li a {
  text-decoration: none;
  color: rgb(66, 66, 71);
}

.banner {
  height: 500px;
  width: 100%;
  border-radius: 16px;
  background-image: url(../Images/Group1311.png);
  background-repeat: no-repeat;
  background-position: center;
}

.banner-content {
  border-radius: 16px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8),
    rgba(19, 19, 24, 0) 100%
  );
}

.banner-title {
  font-size: 50px;
  font-weight: 800;
  color: rgb(255, 255, 255);
  padding: 12px;
  text-align: center;
}

.banner-description {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  width: 60%;
  text-align: center;
  padding: 12px;
  text-align: center;
}

.inputs-and-button {
  padding: 12px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

.inputs-and-button input,
input:focus,
select {
  padding-left: 16px;
  border-radius: 8px;
  border: none;
  background: rgb(255, 255, 255);
  height: 52px;
  margin-right: 6px;
  width: 174px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
}

.inputs-and-button select {
  border-right: 16px solid transparent;
}

.inputs-and-button button {
  height: 52px;
  border-radius: 8px;
  background: rgb(255, 84, 0);
  width: 174px;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
}
