@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&family=Work+Sans:wght@500&display=swap");

* {
  font-family: "Mulish";
}

body {
  margin: auto;
  width: 80%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 52px;
  padding-bottom: 49px;
}

nav .section-title {
  display: flex;
  flex-wrap: nowrap;
  gap: 6px;
}

.nav-left-part {
  display: flex;
  height: 45px;
  gap: 15px;
  font-weight: 800;
  font-size: 22px;
  align-items: center;
}

.Orange {
  color: rgb(255, 84, 0);
}

.nav-right-part > ul {
  display: flex;
  gap: 40px;
}

.nav-right-part li {
  list-style: none;
  font-weight: 400;
}

.nav-right-part li a {
  text-decoration: none;
  color: rgb(66, 66, 71);
}

.banner {
  height: 500px;
  width: 100%;
  border-radius: 16px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8),
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/Group1311.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-content {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.banner-title {
  font-size: 50px;
  font-weight: 800;
  color: rgb(255, 255, 255);
  padding: 12px;
  text-align: center;
}

.banner-description {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  width: 60%;
  text-align: center;
  padding: 12px;
  text-align: center;
}

.inputs-and-button {
  padding: 12px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

.inputs-and-button input,
input:focus,
select {
  border-radius: 8px;
  border: none;
  background: rgb(255, 255, 255);
  height: 52px;
  margin-right: 6px;
  width: 174px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
}

.inputs-and-button input,
button,
select {
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
}

.inputs-and-button button {
  height: 52px;
  border-radius: 8px;
  background: rgb(255, 84, 0);
  width: 174px;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
}

nav .nav-right-part-mobile {
  display: none;
}

.popular-tours {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 70px;
  margin-top: 100px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.popular-tours-right img {
  width: 100%;
}

.popular-tours-left,
.popular-tours-right {
  width: 45%;
}

.popular-tours-title {
  color: rgb(19, 19, 24);
  font-size: 40px;
  font-weight: 800;
  margin-top: 0;
}

.btn-primary,
.package-button {
  height: 52px;
  border-radius: 8px;
  background: rgb(255, 84, 0);
  width: 160px;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

.choose-your-destination,
.why-choose-us,
.deal-and-discount,
.newsletter-section,
footer {
  margin-top: 100px;
}

.section-title {
  color: rgb(19, 19, 24);
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  text-align: center;
  margin: 0 auto 0 auto;
}

.section-sub1-title {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  width: 60%;
  margin: 24px auto auto auto;
}

.choose-your-destination-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 45px;
  justify-content: space-around;
}

.choose-your-destination-gallery > div {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 800;
  line-height: 35px;
  text-align: center;
  height: 300px;
  position: relative;
}

.text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-container h3,
.deals-list h3,
.newsletter-section h3 {
  color: rgb(19, 19, 24);
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
}

.box-container p,
.deals-list p,
.newsletter-section {
  color: rgb(90, 90, 93);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.box-1,
.box-2,
.box-3 {
  padding: 32px 55px 32px 32px;
}

.box-1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  border-radius: 16px;
  background: rgba(251, 181, 99, 0.05);
  margin-top: 25px;
  width: 50%;
}

.box-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  border-radius: 16px;
  background: rgba(41, 206, 246, 0.05);
  margin-top: 25px;
  width: 50%;
}

.box-3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  border-radius: 16px;
  background: rgba(233, 68, 68, 0.05);
  margin-left: 25%;
  margin-top: 50px;
  width: 50%;
}

.upper-two-box {
  display: flex;
  gap: 50px;
}

.infos span i {
  padding: 5px;
}

.deals-list {
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
}

.first-deal {
  background-image: url(../Images/Group39.png);
  flex-flow: row-reverse;
  justify-content: right;
}

.second-deal {
  background-image: url(../Images/Group40.png);
  flex-flow: row-reverse;
  justify-content: left;
}

.third-deal {
  background-image: url(../Images/Group39.png);
  flex-flow: row-reverse;
  justify-content: right;
}

.first-deal,
.second-deal,
.third-deal {
  border-radius: 16px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 2rem;
  display: flex;
}

.deal-box-one,
.deal-box-two,
.deal-box-three {
  width: 40%;
  margin: 56px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.8);
  padding: 50px 77px 50px 50px;
}

.price {
  color: rgb(255, 84, 0);
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
}
.package-button {
  margin-left: 42%;
  margin-top: 50px;
}

.perfect-place-title {
  line-height: 60px;
}

.newsletter-section input {
  height: 50px;
  border-radius: 8px;
  border: none;
  background: rgba(19, 19, 24, 0.05);
  width: 350px;
  margin-bottom: 25px;
  padding-left: 15px;
}
.subscribe-button {
  width: 365px;
  margin-top: 5px;
}
.newsletter-left {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(255, 84, 0);
  border-radius: 16px;
  padding: 3%;
  height: 350px;
}

.newsletter-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.newsletter-right {
  position: relative;
}
.discount {
  width: 324px;
  height: 120px;
  border-radius: 16px;
  background: rgb(255, 84, 0);
  fill: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  line-height: 40px;
  position: absolute;
  transform: rotate(-19.63deg);
  top: 59%;
  left: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.deals-small {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 10px;
}
.deals-big {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
}
footer {
  display: flex;
  flex-direction: column;
  background: rgba(19, 19, 24, 0.05);
  height: 250px;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 10%;
}

footer i {
  padding: 7px;
  font-size: 30px;
}

footer p {
  color: rgb(90, 90, 93);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(19, 19, 24, 0.1);
  padding-bottom: 15px;
}

@media screen and (max-width: 600px) {
  body {
    width: 90%;
  }
  nav {
    padding-bottom: 15px;
  }
  nav .nav-right-part {
    display: none;
  }
  nav .nav-right-part-mobile {
    display: flex;
    font-size: 20px;
  }
  .banner-title {
    font-size: 22px;
    font-weight: 800;
  }
  .banner-description {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 34px;
    width: 90%;
  }
  .inputs-and-button {
    display: flex;
    width: 80%;
    gap: 16px;
    flex-direction: column;
  }
  .inputs-and-button select,
  button {
    width: 100% !important;
  }
  .inputs-and-button input {
    width: 89% !important;
  }
  .banner {
    /* height: 483px; */
  }

  .popular-tours {
    flex-direction: column;
  }
  .popular-tours-left,
  .popular-tours-right {
    width: 100%;
  }

  .popular-tours-title {
    margin-left: 15px;
  }
  .section-sub1-title {
    width: 100%;
  }
  .upper-two-box {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .box-3 {
    margin-left: 55px;
  }
  .deal-box-one,
  .deal-box-two,
  .deal-box-three {
    width: 64%;
    margin: 30px;
    padding: 5%;
  }
  .package-button {
    margin-top: 25px;
    margin-left: 0;
  }
  .perfect-place-title br {
    display: none;
  }
  .choose-your-destination,
  .why-choose-us,
  .deal-and-discount,
  .newsletter-section,
  .popular-tours,
  footer {
    margin-top: 50px;
  }
  .website-name {
    font-size: 24px;
  }
  .section-title {
    font-size: 30px;
  }
  .newsletter-section {
    flex-direction: column;
  }
  .discount {
    height: 100px;
    top: 63%;
    left: 15%;
  }
}
